<div class="home-page">

  <app-banner title="Search models "></app-banner>

  <div class="search-bar">
    <form class="form-inline" (submit)="onFormSubmit($event)">
      <div class="form-group">
        <label class="sr-only" for="searchModel">Search model</label>
        <div class="input-group">
          <input type="text" class="form-control" id="searchModel" name="searchModel" placeholder="search model" [(ngModel)]="searchTerm">
          <button type="submit" class="blue-button"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
      </div>
    </form>
  </div>

  <div class="results">
    <div class="d-flex align-content-center flex-wrap">
      <div class="col-lg-4" *ngFor="let model of models">
        <app-model-card [model]="model"></app-model-card>
      </div>
    </div>
  </div>
</div>
